<h1> Daily dose of Art </h1>

<button (click)="onGetUsers()"> Get Users </button>
<p></p>
<button (click)="onGetUser()"> Get User </button>
<p></p>
<button (click)="onCreateUser()"> Create User </button>
<p></p>
<button (click)="onUpdateUser()"> Update User </button>
<p></p>
<button (click)="onPatchUser()"> Patch User </button>
<p></p>
<button (click)="onDeleteUser()"> Delete User 5 </button>



<hr>

<ul>
    <li *ngFor="let user of users$">{{user.company.name}}</li>
</ul>

<router-outlet></router-outlet>
