<h1> Daily dose of Art </h1>

<button (click)="onGetUsers()"> Get Users </button>
<p></p>
<button (click)="onGetUser()"> Get User </button>
<p></p>
<button (click)="onCreateUser()"> Create User </button>
<p></p>
<button (click)="onUpdateUser()"> Update User </button>
<p></p>
<button (click)="onPatchUser()"> Patch User </button>
<p></p>
<button (click)="onDeleteUser()"> Delete User 5 </button>

<p></p>

<!-- There is difference between this here and course in argument, In course $event.target.files is used -->
<form>
    <input type="file" class="file-input" (change)="onUploadFile($event)" #fileUpload multiple/>
</form>

<progress *ngIf="fileStatus.status === 'progress'" style="width: 500px; height: 25px;"
[value]="fileStatus.percentage" max="100"></progress>

<hr>

<ul>
    <li *ngFor="let user of users$">{{user.company.name}}</li>
</ul>

<router-outlet></router-outlet>
